@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
font-family: 'Montserrat',
sans-serif;
}
 
 a{
     text-decoration: none;
 }
 a:hover{
     opacity: 0.7;
     border-bottom: 2px solid white;
 }
header{
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    position: sticky;
}
 .company-name
 {
     margin-left: 8px;
 }
.nav{
    margin-left: auto;
    margin-right: 10%;
}
.nav ul{
    list-style: none;
    display: flex;
    list-style: none;
}

.nav ul li a{
    margin-left:20px;
    color: white;
   
}

.welcome{
    background: url(images/welcome.jpg) no-repeat center;
    background-color: #f3f3f3;
    background-size: cover;
   
   width:100% 100%;
   height: 590px;
   margin: 30px;
   position: relative;
   border-radius: 5px;
}

.welcome-container{
    position: absolute;
    top: 15rem;
    left: 27rem;
    background-color:rgb(54, 201, 54);
    color: white;
    height: 50px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
}

.welcome-container h1{
    font-size: 30px;
}

.Analysis{
    background-color: black;
    color: white;
    text-align: center;
    height: 250px;
    padding: 50px;
    margin: 30px;
    border-radius: 5px;
}
.Analysis ul{
    list-style: none;
}

.info,.Staff{
     width:100% 100%;
     height: 590px;
     margin: 30px;
     position: relative;
     border-radius: 5px;
     display: flex;
     justify-content: center;
}

.aboutus,.staff-outline{
    background-color: #f3f3f3;
    margin: 3px;
    width: 300px;
    padding: 20px;
}

.staff-outline{
    display: flex;
    flex-direction: column;
}
.staff-outline h4{
    font-size: 20px;
}
.staff-outline h3{
    font-size: 16px;
}
.visiom{
    margin: 30px;
    display: flex;
    height: 400px;
    background-color: black;
    color: white;
    justify-content: center;
}

.sec{
    padding: 100px;
}

.contactUs{
    width:100% 100%;
    height: 650pxpx;
    margin: 30px;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}
.hero{
    width: 500px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px;
    
}

.address ul li
{
    padding: 10px;
}
.address ul,.before-footer ul{
    list-style: none;
}
.address h1{
 font-size: 42px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input{
    width: 450px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}
form textarea{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    
}


.spacing{
    margin: 20px;
    
}
.spacing button{
    width: 450px;
    height: 40px;
    background-color:white;
    border-radius: 5px;
    outline: none;
}

.footer{
     width:100% 100%;
     height: 200px;
     position: relative;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     background-color :#f3f3f3;
     
}

.before-footer{
    padding: 20px;
    display: flex;
     flex-direction: column;
    justify-content: center;
   text-align: center;
   
}

.footer-address{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
 .socials{
     display: flex;
    justify-content: center;
 }
footer{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 20px;
}



@media  screen and (max-width:375px) {

    p{
        font-size: 16px;
    }

    .welcome-container{
        left: 0.5rem;
        width: 327px;
        font-size: 16px;
        height: 30px;
    }

    .welcome-container h1{
        font-size: 16px;
    }
    .welcome{
        margin: 10px;
    }

    .company-name{
        display: none;
    }

    .info{
        flex-direction: column;
        margin-top: 504px;
    }

    .Staff{
    
            flex-direction: column;
            margin-top: 655px;
    }

    .sec{
        padding: 10px;
    }

    .visiom{
        flex-direction: column;
        width: 350px;
        margin: 10px;
        margin-top: 490px;
    }

    .contactUs{
        flex-direction: column;
        width: 350px;
        margin:10px;
    }
    .hero{
        width: 350px;
    }

    .spacing{
        width: 300px;
    }

    form input{
        width: 300px;
    }

    .spacing button {
        width: 300px;
    }

    .spacing textarea{
        width: 300px;
    }

    .Analysis{
        height: 400px;
        padding: 20px;
        margin-top: 635px;
    }

    footer{
        padding: 8px;
    }

    .product img{
        width: 300px;
    }
    .first-section{
        flex-direction: column;
    }
}